.app.dark {
  --bg-color: #040c68;
  --inverted-bg-color: #dededf;

  --primary-color: #cbd2ff;
  --secondary-color: #5f74be;

  --inverted-primary-color: #050981;
  --inverted-secondary-color: #1c1ce7;
}
