:root {
  --bg-color: #dededf;
  --inverted-bg-color: #050981;

  --primary-color: #050981;
  --secondary-color: #1c1ce7;

  --inverted-primary-color: #cbd2ff;
  --inverted-secondary-color: #5f74be;
}
